.section{
    padding:100px 50px;
    
}

.FrenchVillage{
    background-image: url("../../images/landscape-of-bigben.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    // background-attachment:fixed;
    
    
    height:40vw;
    max-height:600px;
    min-height:300px;
}


@media (max-width: 575px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

}