@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Raleway', sans-serif; }
  body a {
    text-decoration: none;
    padding-right: 20px; }
  body .colorWhite {
    color: white; }
  body .content-wrapper {
    padding: 50px; }
  body .fa-chevron-down {
    position: absolute;
    top: 89vh; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .flex-container .flex-item {
    flex: 1; }

.button-container {
  margin-top: 50px; }
  .button-container .button {
    font-family: "Raleway", sans-serif;
    color: #f1f1f1;
    background-color: #3ba98a;
    padding: 15px 50px;
    transition: all 0.8s; }
    .button-container .button:hover {
      background-color: #2e836b; }

.text-container {
  max-width: 80vw;
  margin: 0px auto; }

.input-container {
  background-color: #333;
  border-radius: 5px; }
  .input-container input {
    background-color: #3b3b3b;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white; }

.classyTitle {
  font-family: "Dancing Script", cursive;
  font-weight: normal; }

.normalTitle {
  font-weight: lighter;
  line-height: 80px; }
  .normalTitle.text-section {
    font-size: 30px; }

.normalSubTitle {
  font-weight: lighter; }

.introductionTitle {
  padding-top: 330px;
  font-size: 80px; }

.centered {
  width: 100%;
  text-align: center; }

.navbar-colorLess {
  position: fixed;
  width: 100vw;
  padding: 30px;
  transition: 0.3s all; }
  .navbar-colorLess .siteTitle-Link {
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 35px; }
  .navbar-colorLess a {
    font-family: "Raleway", sans-serif;
    color: white; }
  .navbar-colorLess .selected {
    color: white; }

.navbar-coloredIn {
  background-color: #369A7E;
  position: fixed;
  width: 100vw;
  padding: 30px; }
  .navbar-coloredIn .siteTitle-Link {
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 35px; }
  .navbar-coloredIn a {
    color: white; }
  .navbar-coloredIn .selected {
    color: white; }

.bottomBar {
  background-color: #369A7E;
  padding: 30px 30px;
  width: 100vw; }

.section {
  padding: 100px 50px; }

.FrenchVillage {
  background-image: url("../../images/landscape-of-bigben.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vw;
  max-height: 600px;
  min-height: 300px; }

.divider-one-cc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, #333333 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0); }

.divider-one-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, #333333 50%); }

.scallop-down {
  height: 25px;
  width: 100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#333333), color-stop(0.49, #333333), color-stop(0.51, transparent), to(transparent));
  -webkit-background-size: 49px 100%; }

.scallop-up {
  height: 25px;
  width: 100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#333333), color-stop(0.49, #333333), color-stop(0.51, transparent), to(transparent));
  -webkit-background-size: 49px 100%; }

.blurb {
  background-color: #f1f1f1;
  margin: 10px; }
  .blurb.white {
    background-color: white; }
  .blurb.noImg {
    align-self: flex-start;
    overflow: scroll; }
  .blurb .blurbImageContainer img {
    max-width: 100%; }
  .blurb .blurbContentContainer {
    padding: 30px 20px; }
    .blurb .blurbContentContainer h3 {
      color: #333333;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase; }
    .blurb .blurbContentContainer p {
      color: #333333;
      font-size: 15px; }

.homePage-Introduction {
  background-image: url("../../images/france-sunset.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.blog-post-container {
  width: 80vw;
  margin: 100px 0px 0px 10vw; }
  .blog-post-container .blog-post {
    background-color: #f1f1f1;
    padding: 40px;
    width: 80vw; }
    .blog-post-container .blog-post h1 {
      font-family: "Dancing Script", cursive; }
    .blog-post-container .blog-post h2, .blog-post-container .blog-post h3, .blog-post-container .blog-post h4, .blog-post-container .blog-post h5, .blog-post-container .blog-post h6 {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      padding-top: 25px; }
    .blog-post-container .blog-post .blog-date {
      font-style: italic;
      font-weight: normal;
      font-size: 18px; }
    .blog-post-container .blog-post .blog-post-content {
      font-size: 15px; }

.posts-container {
  margin: 25vh auto;
  width: 60vw;
  background-color: #f1f1f1;
  padding: 40px;
  text-align: center; }
  .posts-container .post-links-container .post-links {
    padding: 20px; }
    .posts-container .post-links-container .post-links a {
      color: #333333;
      transition: color 0.5s;
      text-transform: capitalize;
      font-family: "Raleway", sans-serif; }
      .posts-container .post-links-container .post-links a:hover {
        color: #369A7E; }
